.App {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.myUl {
  order: 2;
  display: flex;
}

.myUl li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.myUl Link {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.myUl Link:hover {
  color: #117964;
}